
.container-fluid{
    background-color: aquamarine;
    padding: 0 0;
    min-width: 30em;
}
.fa-rocker{
    size: 5x;
}
.row{
    margin: 0;
}
.col, .col-1, .col-2, .col-3, .col-4,.col-5, .col-6, .col-7, .col-8, .col-9,.col-10, .col-11, .col-12{
    padding: 0 0;
}
.content{
    max-height: 30em;
    position: relative;
}
hr{ margin: 0 0;
    border-top: 1px solid rgba(77, 70, 70,.5);}
.header{
    background-image: url('src/assets/Images/header.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 45em;
    /* max-height: 500px; */
}
.banner{
    background-color: aqua;
    height: 25%;
}
.footer{
    background-color: rgba(12, 12, 12, 0.993);
    padding: 10% 10%;
    color: white;
}
.box-border-outter{
    display: flex;
    margin: 0.5em;
    padding: 4px;
    border: 4px solid white;
    border-radius: 15px;
}
.box-border-inner{
    display: flex;
    border: 4px solid white;
    border-radius: 10px;
}
.box-item{
    display: flex;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(189, 189, 189);
    border-radius: 5px;
    background-color: white;
}
.wrapper{
    padding: 30px;
    width: 45%;
    max-height: 40em;
    position: relative;
}
.carousel-control-next-icon{
    background-image: url("../assets/Images/next.png")
}
.carousel-control-prev-icon {
    background-image: url("../assets/Images/prev.png")
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(150, 134, 224,.5);
}