<div class="container-fluid text-center">
    <!-- Header Container-->
  <div class="header text-right">
      <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"> 
        <i class="fas fa-rocket">iGoDoc</i>
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <i class="far fa-user-circle"></i>
          <select class="label-2 selectpicker " data-width="fit">
              <option data-content='English'><span class="flag-icon flag-icon-us"></span> English</option>
            <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
          </select>
          </li> </ul>
      </div>
      </nav>
      <div class="d-flex justify-content-end">
          Vousêtes
          professionnel
          desanté?
          <div class="btn btn-primary">Démonstration</div>
      </div>
  </div>
    <!-- Function items Container-->
  <p class="font-weight-bold" style="font-family: Oswald, sans-serif; font-size: 3em">iGoDoc la solution complète <br>pour votre agenda en ligne</p>
  <div class="row text-center">
      <div class="d-flex justify-content-center row mx-auto">
        <div class="box-border-outter ">
          <div class="box-border-inner">
            <div class="box-item"><img src="../assets/Images/content1.png" class="img-fluid" alt="Responsive image"></div>
          </div>
        </div>
        <div class="box-border-outter">
            <div class="box-border-inner">
              <div class="box-item"><img src="../assets/Images/content2.png" class="img-fluid" alt="Responsive image"></div>
            </div>
          </div>
        <div class="box-border-outter">
              <div class="box-border-inner">
                <div class="box-item"><img src="../assets/Images/content3.png" class="img-fluid" alt="Responsive image"></div>
              </div>
            </div>
        <div class="box-border-outter">
          <div class="box-border-inner">
            <div class="box-item"><img src="../assets/Images/content4.png" class="img-fluid" alt="Responsive image"></div>
          </div>
        </div>
      </div>
  </div>
    <!-- Banner Container-->
  <div class="banner row">
    <div class="row">
      <img src="../assets/Images/ordi_tous_Shutterstock_detour.jpg" class="img-fluid" alt="Responsive image">
      <div class="">
          <p class="font-weight-bold" style="font-family: Oswald, sans-serif; font-size: 3em"> Inscrivez-vousdès maintenant</p>
        <div type="button" class="btn btn-info">Inscription</div>
        <div><i class="fas fa-check">Référencementweb</i></div>
        <div><i class="fas fa-check">Gaindetemps</i></div>
      </div>
  </div>
  </div>
    <label>Découvrez comment iGoDoc peut simplifier votre pratique médicale</label>
    <!-- Carousel container -->
  <div class="row bg-light">
    <div class="wrapper mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../assets/Images/22-02-2019 11-44-55.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/Images/26-02-2019 15-40-22-2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/Images/26-02-2019 15-40-04.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../assets/Images/26-02-2019 15-40-22-2.jpg" alt="Fourth slide">
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  </div>
  <!-- Content Container-->
  <div class="row">

  </div>
  <hr>
  <div class=" content row bg-info">
      <img class="col-4 d-block h-100" height="auto" src="../assets/Images/shutterstock_766847608.jpg" alt="Responsive image">
      <div class="col-8">
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
  <hr>
  <div class="content row bg-light">
      <div class="col-8">
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <img class="col-4 d-block h-100"  src="../assets/Images/shutterstock_766847608.jpg" alt="Card image cap">
  </div>
  <hr>
  <div class="content row bg-info">
      <img class="col-4 d-block h-100" src="../assets/Images/shutterstock_766847608.jpg" alt="Card image cap">
      <div class="col-8">
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
  <hr>
  <div class="content row bg-light">
      
      <div class="col-8">
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <img class="col-4 d-block h-100" src="../assets/Images/shutterstock_766847608.jpg" alt="Card image cap">
  </div>
  <hr>
  <div class="content row bg-info">
      <img class="col-4 d-block h-100" src="../assets/Images/shutterstock_766847608.jpg" alt="Card image cap">
      <div class="col-8">
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
  <hr>
  <div class="content row bg-light">
      
      <div class="col-8">
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <img class="col-4 d-block h-100" src="../assets/Images/shutterstock_766847608.jpg" alt="Card image cap">
  </div>
  <hr>
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up">Haut de la page</i>
    </a>
  <!-- Footer Container-->
  <div class="footer row">
      <div class="col-sm">
        <p>CONTACT</p>
        iGoDoc
        ChemindeMornex3
        1003Lausanne
        0213120029
        info@igodoc.ch
      </div>
      <div class="col-sm">
        <p>PATIENT</p>
        Prendreunrendez-vous
        Rechercherunpraticien
        Questionsfréquentes
        Seconnecter
      </div>
      <div class="col-sm">
        <p>PROFESSIONNEL</p>
        Seconnecter
        S’inscrire
        Démonstration
        Plusd’informations
        Teamviewer
      </div>
    </div>
    <div>
        <label>Copyright : Handylife2018</label>
    </div>
  </div>